<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a01375594.testarouter">

    <application
        android:allowBackup="true"
        android:name=".GlobalApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".TabsActivity" >
        </activity>
        <activity android:name=".DetailActivity" />

        <!--login-->
        <activity android:name="com.example.a01375594.loginModule.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--message-->
        <activity android:name="com.example.a01375594.messageModule.MessageDetailActivity"/>
        <!--history-->
        <activity android:name="com.example.a01375594.historyModule.HistoryDetailActivity"/>
    </application>

</manifest>